<dialog id="comment-modal">
    <form action="/posts/newcomment" method="POST">
        <div class="modal-header">
            <button type="button" class="close-comment-modal">Cancel</button>
            <p>Reply</p>
            <div class="header-options">
                <img src="/assets/options.svg" alt="" width="24px"/>
            </div>
        </div>
        <!-- Original Post -->
        <div class="modal-main">
            <div class="modal-main-left">
                <div class="avatar">
                    <img src="<%= gravatarUrl(post.author.gravatar) %>" alt="">
                </div>
            </div>
            <div class="modal-main-right">
                <div class="modal-topic">
                    <strong><p id="modal-target-username"><%= post.author.username %></p></strong>
                    <% if (post.topic) { %>
                        <span><img src="/assets/right-arrow.svg" alt="" width="20px" /></span>
                        <p><strong><%= post.topic.displayTitle %></strong></p>
                    <% } %>
                </div>
                <p class="post-content" id="modal-target-content"><%= post.content %></p>
            </div>
        </div>
        <!-- User's reply -->
        <div class="modal-main">
            <div class="modal-main-left">
                <div class="avatar">
                    <img src="<%= gravatarUrl(user.gravatar) %>" alt="">
                </div>
            </div>
            <div class="modal-main-right">
                <div class="modal-topic">
                    <p><strong><%= user.username %></strong></p>
                </div>
                <input type="hidden" name="postId" id="modal-postId" value="<%= post.id %>">
                <input type="hidden" name="parentId" id="modal-parentId" value="">
                <textarea
                    id="comment-content"
                    name="content"
                    placeholder="Reply to <%= post.author.username %>..."
                    rows="1"
                    maxlength="500"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <p>Anyone can reply & quote</p>
            <button type="submit" class="post-btn">Post</button>
        </div>
    </form>
</dialog>