<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Book</title>
    <link rel="stylesheet" href="/styles/base.css">
    <script src="/scripts/likeBtn.js" defer></script>
</head>
<body>
    <%- include('nav', { page: 'home' }) %>
    <main>
        <div class="main-header">
            <a href="/" class="switch <%= (locals.following) ? '' : 'active' %>">For you</a>
            <a href="/following" class="switch <%= (locals.following) ? 'active' : '' %>">Following</a>
        </div>
        <div class="main-content">
            <div class="new-post-block">
                <div class="avatar">
                    <img src="<%= gravatarUrl(user.gravatar) %>" alt="avatar" >
                </div>
                <input type="text" id="trigger-input" placeholder="What's new?">
                <button class="post-btn">Post</button>
            </div>
            <% posts.forEach((post) => { %>
                <div class="post-block">
                    <a href="/posts/<%= post.id %>" class="post-link" aria-label="View post"></a>
                    <div class="post-avatar">
                        <div class="avatar">
                             <img src="<%= gravatarUrl(post.author.gravatar) %>" alt="" />
                        </div>
                    </div>
                    <div class="post-main">
                        <div class="post-header">
                            <a href="/profile/<%= post.author.id %>" class="user-link">
                                <strong><%= post.author.username %></strong>
                            </a>
                            <% if (post.topic) { %>
                                <span><img src="/assets/right-arrow.svg" alt="" width="20px" /></span>
                                <p><strong><%= post.topic.displayTitle %></strong></p>
                            <% } %>
                        </div>
                        <div class="post-content"><%= post.content %></div>
                        <div class="post-menu">
                            <div class="post-likes" data-post-id="<%= post.id %>">
                                <button class="like-btn">
                                    <img src="/assets/heart<%= post.isLiked ? '-red' : '-light' %>.svg" alt="" width="18px">
                                </button>
                                <p class="like-count"><%= post._count.likes %></p>
                            </div>
                            <div class="post-comments">
                                <button class="comment-btn">
                                    <img src="/assets/comment.svg" alt="" width="18px" />
                                </button>
                                <p class="comments-count"><%= post._count.comments %></p>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <a href="/logout">Log out</a>
    </main>
</body>
</html>