<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin Book</title>
    <link rel="stylesheet" href="/styles/base.css">
    <script src="/scripts/likeBtn.js" defer></script>
</head>
<body>
    <%- include('nav', { page: 'home' }) %>
    <main>
        <div class="main-header">
            <a href="/" class="switch <%= (locals.following) ? '' : 'active' %>">For you</a>
            <a href="/following" class="switch <%= (locals.following) ? 'active' : '' %>">Following</a>
        </div>
        <div class="main-content">
            <div class="new-post-block">
                <div class="avatar">
                    <img src="<%= gravatarUrl(user.gravatar) %>" alt="avatar" >
                </div>
                <input type="text" id="trigger-input" placeholder="What's new?">
                <button class="post-btn">Post</button>
            </div>
            <% posts.forEach((post) => { %>
                <%- include('partials/post-block', { post }) %>
            <% }) %>
        </div>
        <a href="/logout">Log out</a>
    </main>
</body>
</html>