<style>
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0 30px 0;
        position: fixed;
        height: 100vh;
        width: 75px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .new-post-btn {
        background-color: rgb(255, 255, 255, 0.08);
        padding: 12px 18px;
        border-radius: 12px;
    }

    .new-post-btn:hover {
        cursor: pointer;
        filter: brightness(2);
    }

    .nav-menu > a {
        padding: 12px 18px;
        background-color: rgb(255, 255, 255, 0);
    }

    .nav-menu > a:hover {
        background-color: rgb(255, 255, 255, 0.08);
        border-radius: 12px;
    }

    nav a:active {
        transform: scale(0.9);
        transition: transform 0.1s ease-in;
    }

    .drawer-container {
        display: flex;
        place-items: center;
        position: relative;
    }

    button.drawer-btn {
        filter: brightness(0.5);
    }

    button.drawer-btn:hover {
        filter: brightness(1);
    }

    .drawer {
        opacity: 0;
        transform: scale(0.2);
        position: absolute;
        bottom: 34px;
        left: -10px;
        transform-origin: left bottom;

        display: flex;
        flex-direction: column;
        background-color: #242424;
        width: 240px;
        font-weight: 600;
        border-radius: 20px;
        overflow: hidden;
        padding: 10px;
    }

    .drawer.open {
        opacity: 1;
        transform: scale(1);
        transition: transform 150ms ease;
    }

    .drawer-menu {
        padding: 12px;
        border-radius: 12px;
    }

    .drawer-menu.logout {
        color: var(--red);
    }

    .drawer-menu:hover {
        background-color: rgb(255, 255, 255, 0.04);
    }

    .drawer-menu:active {
        transform: scale(0.95);
    }

</style>

<nav>
    <a href="/" class="logo">
        <img src="/assets/logo.svg" alt="" height="42px">
    </a>
    <div class="nav-menu">
        <a href="/" class="home-btn">
            <img src="/assets/<%= page === "home" ? "home-fill" : "home" %>.svg" alt="" height="24px" />
        </a>
        <a href="/search">
            <img src="/assets/<%= page === "search" ? "search-fill" : "search" %>.svg" alt="" height="24px" />
        </a>
        <button class="new-post-btn">
            <img src="/assets/add.svg" alt="" height="24px" width="auto">
        </button>
        <a href="/notification" class="notification-btn">
            <img src="/assets/<%= page === "heart" ? "heart-fill" : "heart" %>.svg" alt="" height="24px" />
        </a>
        <a href="/profile/<%= user.id %>" class="profile-btn">
            <img src="/assets/<%= page === "user" ? "user-fill" : "user" %>.svg" alt="" height="24px" />
        </a>
    </div>
    <div class="drawer-container">
        <button class="drawer-btn">
            <img src="/assets/drawer.svg" alt="" height="24px">
        </button>
        <div class="drawer">
            <a href="/" class="drawer-menu">Saved</a>
            <a href="/" class="drawer-menu">Liked</a>
            <a href="https://github.com/jprk8/odin-book" class="drawer-menu" target="_blank" rel="noopener noreferrer">
                Report a problem
            </a>
            <a href="/logout" class="drawer-menu logout">Log out</a>
        </div>
    </div>
</nav>

<%- include('postModal') %>
<script src="/scripts/postModal.js" defer></script>
<script src="/scripts/drawer.js" defer></script>