<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thread</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/post.css">
    <script src="/scripts/commentModal.js" defer></script>
    <script src="/scripts/likeBtn.js" defer></script>
    <script src="/scripts/likeComment.js"></script>
</head>
<body>
    <%- include('nav', { page: '' }) %>
    <main>
        <div class="main-header">
            <div class="non-switch">
                <p>Thread</p>
            </div>
        </div>
        <div class="main-content">
            <div class="post-view">
                <div class="post-view-header">
                    <div class="avatar">
                        <img src="/assets/default-avatar.jpg" alt="" />
                    </div>
                    <a href="/profile/<%= post.author.id %>" class="user-link">
                        <p><strong><%= post.author.username %></strong></p>
                    </a>
                    <% if (post.topic) { %>
                        <span><img src="/assets/right-arrow.svg" alt="" width="20px" /></span>
                        <p><strong><%= post.topic.displayTitle %></strong></p>
                    <% } %>
                </div>
                <div class="post-view-content"><p><%= post.content %></p></div>
                <div class="post-view-menu">
                    <div class="post-likes" data-post-id="<%= post.id %>">
                        <button class="like-btn">
                            <img src="/assets/heart<%= post.isLiked ? '-red' : '-light' %>.svg" alt="" width="18px">
                        </button>
                        <p class="like-count"><%= post._count.likes %></p>
                    </div>
                    <div class="post-comments">
                        <button class="comment-btn">
                            <img src="/assets/comment.svg" alt="" width="18px">
                        </button>
                        <p class="comments-count"><%= post.comments.length %></p>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="comments-header">
                    <p><strong>Comments</strong></p>
                    <button class="reply-btn">Reply</button>
                </div>
                <% post.comments.forEach((comment) => { %>
                    <div class="post-block comment">
                        <div class="post-avatar">
                            <div class="avatar">
                                <img src="/assets/default-avatar.jpg" alt="" />
                            </div>
                        </div>
                        <div class="post-main">
                            <div class="post-header">
                                <a href="/profile/<%= comment.author.id %>" class="user-link">
                                    <strong><%= comment.author.username %></strong>
                                </a>
                            </div>
                            <div class="post-content"><%= comment.content %></div>
                            <div class="post-menu">
                                <div class="comment-likes" data-comment-id="<%= comment.id %>">
                                    <button class="comment-like-btn">
                                        <img src="/assets/heart<%= comment.isLiked ? '-red' : '-light' %>.svg" alt="" width="18px">
                                    </button>
                                    <p class="comment-like-count"><%= comment._count.likes %></p>
                                </div>
                                <div class="comment-comments">
                                    <button class="comment-comment-btn">
                                        <img src="/assets/comment.svg" alt="" width="18px" />
                                    </button>
                                    <p class="comment-comments-count">Missing field</p>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </main>
    <%- include('commentModal', { post }) %>
</body>
</html>